@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,700&display=swap");

/*
MediaQueries:
    Para móvil - No hay MediaQueries
    Móviles en horizontal - min-width: 768px
    Tablets en horizontal y escritorio - min-width: 1024px
    Escritorios muy anchos - min-width: 1200px

    Móvil pequeño: 360 x 640 px.
    Móvil medio: 375 x 667 px.
    Smartphone grande: 720 x 1280 px.
    Ordenador portátil medio: 1366 x 768 px.
    Ordenador de escritorio medio: 1440 x 900 px.
    PC de escritorio grande: 1920 x 1080 px.
*/

/* Declarando las variables globales */

:root {
  --primary-black: #0d0d0d;
  --primary-blue: #6680F4;
  --secondary-orange: #fc814a;
  --primary-white: #E8E8E8;
  --light-gray: #BFBFBF;
  --darker-gray: #96939b;
  --main-padding: 40px 20px;
}

/* Reset de los estilos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Estilos del header */

header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--light-gray);
}

header nav {
  display: none;
}

/* header nav {
  display: flex;
  justify-content: center;
  gap: 30px;
} */

header nav a {
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:link {
  color: var(--primary-black);
}

nav a:visited {
  color: var(--primary-black);
}

nav a:hover {
  color: rgb(182, 182, 182);
}

.title {
  font-size: 10vw;
}

/* Estilos del hero-section */

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 10vw;
}

.hero-section {
    background: radial-gradient(circle at top,#231c1e,#245ac5,#476bb5,#fc814a);
    background-size: 240% 240%;
    animation: gradient-animation 30s ease infinite
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-section h2 {
  font-size: 7vw;
  user-select: none;
}

.hero-section span {
  font-size: 4vw;
  user-select: none;
}

.hero-section .nombre {
  color: var(--primary-blue);
  display: block;
  font-size: 11vw;
  font-family: "Lobster", sans-serif;
}

/* Estilos aboutme section */

.aboutme {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--primary-white);
  padding: 30px 20px;
}

.aboutme-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  gap: 20px;
}

.aboutme-info-text{
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

.aboutme-info-text p {
  padding: 10px 0px;
}

.aboutme-info img {
  width: 65vw;
  border-radius: 1000px;
}

.aboutme-info-skills {
  display: none;
}

.button{
  width: 100%;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  background-color: var(--light-gray);
  border-radius: 20px;
  border: 1px solid var(--darker-gray);
}

.button a {
  color: var(--primary-black);
  text-decoration: none;
}

.portfolio {
  min-height: 100vh;
  background-color: red;
  display: flex;
  gap: 30px;
  padding: 30px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  display: grid;
  place-items: center;
  gap: 30px;
  grid-template-rows: minmax(200px, 1fr);
}

.projects article a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  background-color: var(--primary-white);
  border-radius: 20px;
}

article a img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

article a .project-info {
  border-top: 2px solid var(--darker-gray);
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  min-height: 70px;
  background-color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-decoration {
  opacity: 0;
  padding: 0px 5px;
  font-size: 24px
}

/* MEDIAQUERY > 425px */

@media screen and (min-width: 425px) {
  header {
    justify-content: center;
  }
  .hamburguer {
    display: none !important;
  }

  header nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}
  .hero-section {
    line-height: 9vw;
  }

  .hero-section h2 {
    font-size: 8vw;
  }

  .aboutme-info img {
    height: 30vw;
    width: 30vw;
  }


  .projects article {
    max-width: 75vw;
  }
}

/* MEDIAQUERY > 768px */

@media screen and (min-width: 768px) {
  .hero-section {
    line-height: 5vw;
  }

  .hero-section h2 {
    font-size: 6vw;
  }

  .hero-section .nombre {
    font-size: 6vw;
    display: inline;
  }

  .hero-section span {
    font-size: 3vw;
  }

  .aboutme-info img {
    height: 60vw;
    width: 60vw;
  }

  .aboutme-info p {
    font-size: 3vw;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects article {
    max-width: 40vw;
  }
}

/* MEDIAQUERY > 1024px */

@media screen and (min-width: 1024px) {
  
  .button{
    max-width: 30%;
    align-self: center;
  }
  html {
    scroll-behavior: smooth;
  }

  .title {
    font-size: 3vw;
    margin-bottom: 2vw;
  }

  .hero-section {
    line-height: 4vw;
  }

  .hero-section h2 {
    font-size: 4vw;
  }

  .hero-section span {
    font-size: 1.5vw;
  }

  .hero-section .nombre {
    font-size: 4vw;
    display: inline;
  }

  .aboutme h2 {
    font-size: 3vw;
  }

  .aboutme {
    justify-content: space-around;
  }
  .aboutme-info-skills{
    min-height: 30rem;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
  }
  .skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
  }

  .skill {
    border-radius: 20px;
    border: 1px solid var(--darker-gray);
    box-shadow: 1px 20px 50px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20vw;
    min-height: 25vw;
    background-color: var(--primary-white);
    transition: all 0.3s ease;
  }

  .skill:hover{
    box-shadow: 1px 20px 50px 1px rgba(0, 0, 0, .3);
  }

  .projects {
    max-width: 90%;
    grid-template-columns: repeat(3, 1fr);
  }

  .projects article {
    min-width: 40px;
    cursor: pointer;
  }

  .projects article a {
    color: var(--primary-black);
    text-decoration: none;
  }
  .project-info {
    position: relative;
  }

  .project-decoration {
    transition: all .5s ease-in-out;
  }

  .projects article:hover .project-decoration {
    opacity: 1;
    animation: moveDecoration 0.3s ease;
  }
}

@keyframes moveDecoration {
  0% {
    transform: translateY(30px);

  }

  100% {
    transform: translateY(0px);
  }
}